---
layout: defaulthome
permalink: /categories/
title: Trail Listings & Hiking Tips by Category
---

<p>Find trails in upstate New York and read tips for making the most of your hike. From Adirondack mountain ascents to easy strolls through a park, we have advice for you here on finding a trail! Browse now and select any trail to see further details, photos, and a map.</p>

<div id="archives">
{% for category in site.categories %}
  <div class="archive-group">
    {% capture category_name %}{{ category | first }}{% endcapture %}
    <div id="#{{ category_name | slugize }}"></div>
    <p></p>
    
    <h2 class="category-head">{{ category_name }}</h2>
    <a name="{{ category_name | slugize }}"></a>
    {% for post in site.categories[category_name] %}
    <article class="archive-item">
      <h3><a href="{{ site.baseurl }}{{ post.url }}">{{post.title}}</a></h3>
    </article>
    {% endfor %}
  </div>
{% endfor %}
</div>