---
layout: defaulthome
permalink: /categories/
title: Trail Listings & Hiking Tips by Category
---

<p>Find trails in upstate New York and read tips for making the most of your hike. From Adirondack mountain ascents to easy strolls through a park, we have advice for you here on finding a trail! Browse now and select any trail to see further details, photos, and a map.</p>

<div id="archives">
{% for category in site.categories %}
  <div class="archive-group">
    {% capture category_name %}{{ category | first }}{% endcapture %}
    <div id="#{{ category_name | slugize }}"></div>
    <p></p>
    
    <h2 class="category-head">{{ category_name }}</h2>
    <a name="{{ category_name | slugize }}"></a>
    {% for post in site.categories[category_name] %}
    <article class="archive-item">
      <h3><a href="{{ site.baseurl }}{{ post.url }}">{{post.title}}</a></h3>
    </article>
    {% endfor %}
  </div>
{% endfor %}
</div>
        <div>
        <hr>

        <script type="text/javascript">
        amzn_assoc_placement = "adunit0";
        amzn_assoc_search_bar = "true";
        amzn_assoc_tracking_id = "newyorktrai05-20";
        amzn_assoc_ad_mode = "manual";
        amzn_assoc_ad_type = "smart";
        amzn_assoc_marketplace = "amazon";
        amzn_assoc_region = "US";
        amzn_assoc_title = "Hiking Resource Picks";
        amzn_assoc_linkid = "6472d5cb31ebb3c2d6b84be5ebe7cb2c";
        amzn_assoc_asins = "1566953634,1581571879,1599621533,1493024477,1682683036,1692570722,1640491996,1883789486";
        </script>
        <script src="//z-na.amazon-adsystem.com/widgets/onejs?MarketPlace=US"></script>

        <hr>
        </div>