---
layout: defaulthome
title: Locate NY Hiking &amp; Biking Trails
---
        
        <div>
          <h2>Your Source for NY Trail Information</h2>
          <p>Looking for a local trail to ride a bike? A mountain to hike?</p> 
          <p>We offer guides to upstate New York trails, with a primary focus on the Capital Region and southern Adirondacks. Listings contain trail descriptions, maps to trailheads, and photos. <a href="#map">View our map</a> to choose a trail, and be sure to <a href="/contact.html">let us know</a> about trails you'd like to see featured here!</p>

<hr>


          <h2><a href="https://newyorktrailheads.com/all-trails/">Read Our Latest Articles</a></h2>
          <div class="pure-g">
          {% for post in site.posts limit:12 %}
            <section class="pure-u-1 pure-u-md-1-3 post">

              <div class="postcontainer">
                <div class="post-image"><a href="{{ site.baseurl }}{{ post.url }}">{% assign image = post.images[0] %}
                {% include image.html image=image %}</a></div>

                <div class="post-copy">
                  <a class="post-title" href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a>

                  <div class="post-description">
                {{ post.excerpt }}</div>
                </div>
                
              </div>
            </section>
          {% endfor %}
          </div>
          
        </div>
        
        <div class="row">
        <hr>
        <div id="amzn-assoc-ad-77beffb3-8beb-4d28-91fc-fe8fd2d017d9"></div><script async src="//z-na.amazon-adsystem.com/widgets/onejs?MarketPlace=US&adInstanceId=77beffb3-8beb-4d28-91fc-fe8fd2d017d9"></script>
        <hr>
         <h2 id="map">Find Your Next Outdoor Adventure</h2>
        <p>Search our site using the box below, or explore locations on the map! You can also <a href="http://newyorktrailheads.com/all-trails/">view all trail listings and posts</a>.</p>
        <gcse:search></gcse:search>
        </div>
        <div class="row">
          <div class="pure-g">
          <iframe src="https://www.google.com/maps/d/embed?mid=1An-APYS0GSAyPKPNNEU-eYIvmY8&z=8" width="95%" height="500"></iframe>
        </div>
        </div>
         <hr>
     
       



