---
layout: defaulthome
title: Locate NY Hiking &amp; Biking Trails
---
        
        <div>
          <h2>Your Source for NY Trail Information</h2>
          <p>Looking for a local trail to ride a bike? A mountain to hike?</p> 
          <p>We offer guides to upstate New York trails, with a primary focus on the Capital Region and southern Adirondacks. Listings contain trail descriptions, maps to trailheads, and photos. <a href="#map">View our map</a> to choose a trail, and be sure to <a href="/contact.html">let us know</a> about trails you'd like to see featured here!</p>
          <hr>

<script type="text/javascript">
amzn_assoc_placement = "adunit0";
amzn_assoc_search_bar = "true";
amzn_assoc_tracking_id = "newyorktrai05-20";
amzn_assoc_ad_mode = "manual";
amzn_assoc_ad_type = "smart";
amzn_assoc_marketplace = "amazon";
amzn_assoc_region = "US";
amzn_assoc_title = "Hiking Resource Picks";
amzn_assoc_linkid = "6472d5cb31ebb3c2d6b84be5ebe7cb2c";
amzn_assoc_asins = "1566953634,1581571879,1599621533,1493024477,1682683036,1692570722,1640491996,1883789486";
</script>
<script src="//z-na.amazon-adsystem.com/widgets/onejs?MarketPlace=US"></script>


          <h2><a href="https://newyorktrailheads.com/all-trails/">Read Our Latest Articles</a></h2>
          <div class="pure-g">
          {% for post in site.posts limit:12 %}
            <section class="pure-u-1 pure-u-md-1-3 post">

              <div class="postcontainer">
                <div class="post-image"><a href="{{ site.baseurl }}{{ post.url }}">{% assign image = post.images[0] %}
                {% include image.html image=image %}</a></div>

                <div class="post-copy">
                  <a class="post-title" href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a>

                  <div class="post-description">
                {{ post.excerpt }}</div>
                </div>
                
              </div>
            </section>
          {% endfor %}
          </div>
          
        </div>
        
        <div class="row">
        <hr>
         <h2 id="map">Find Your Next Outdoor Adventure</h2>
        <p>Search our site using the box below, or explore locations on the map! You can also <a href="http://newyorktrailheads.com/all-trails/">view all trail listings and posts</a>.</p>
        <gcse:search></gcse:search>
        </div>
        <div class="row">
          <div class="pure-g">
          <iframe src="https://www.google.com/maps/d/embed?mid=1An-APYS0GSAyPKPNNEU-eYIvmY8&z=8" width="95%" height="500"></iframe>
        </div>
        </div>
         <hr>
     
       



