---
layout: base
---

{% include header.html type="page" %}

<main class="{% if page.full-width %} container-fluid {% else %} container-md {% endif %}">
  <div class="row">
    <div class="{% if page.full-width %} col {% else %} col-xl-12 col-lg-12 col-md-12 {% endif %}">
      {% if page.before-content %}
        <div class="before-content">
          {% for file in page.before-content %}
            {% include {{ file }} %}
          {% endfor %}
        </div>
      {% endif %}

      {{ content }}

<div class="trail-guide-promo">
  <a href="https://www.amazon.com/Hiking-New-York-States-Adventures/dp/1493077341?crid=1XXK7ZDJQQQH5&dib=eyJ2IjoiMSJ9.xwrMSclg2tsJpRqbFv0sSoE8U4E7N6co316oW0Mm-4x3PDxdT8KUbac5krb-HYvOMt2N_qNcmQBzpCJp8U-TID-D8TOqx9C29EB2Z2RGKs3bkSlEVW3McDKzTasoSkesAlEJzVN4yta09GH7MdLo2_6-V2W8Na1Pr894canHTGvo1daO4dbVuEAZ5uhZqMmLFh7A2gb2iGd61kXcRc8YApYRZdKOg9e6X2HtrEFvFy4.b0wlhCjEcoCcEDF9Tzj_tMBmrCmuOiUuJP62nk5GDaI&dib_tag=se&keywords=new+york+trails&qid=1767126967&sprefix=new+york+trails%2Caps%2C169&sr=8-6&linkCode=ll1&tag=newyorktrai05-20&linkId=4205fb3e43a5e1fa78ec7d7f9dcab553&language=en_US&ref_=as_li_ss_tl" target="_blank" class="promo-button">
    <i class="fas fa-mountain"></i>
    Check out this guide to NY trails
    <span class="arrow">→</span>
  </a>
</div>

      {% if page.after-content %}
        <div class="after-content">
          {% for file in page.after-content %}
            {% include {{ file }} %}
          {% endfor %}
        </div>
      {% endif %}

      {% include comments.html %}
    </div>
  </div>
</main>
