---
layout: base
---

{% include header.html type="page" %}

<main class="{% if page.full-width %} container-fluid {% else %} container-md {% endif %}">
  <div class="row">
    <div class="{% if page.full-width %} col {% else %} col-xl-8 offset-xl-2 col-lg-10 offset-lg-1 {% endif %}">
      {% if page.before-content %}
        <div class="before-content">
          {% for file in page.before-content %}
            {% include {{ file }} %}
          {% endfor %}
        </div>
      {% endif %}

      {{ content }}

<hr>    
        <p><a href="https://www.amazon.com/Trails-Adirondacks-Americas-Original-Wilderness/dp/1599621533?crid=1GVLYU2DH4OUP&keywords=carl+heilman+trails+of+the+adirondacks&qid=1704560693&sprefix=carl+heilman+trails+of+the+adirondacks%2Caps%2C85&sr=8-1&linkCode=ll1&tag=newyorktrai05-20&linkId=1d83062b7a57400cdb5fce244d2dd0e9&language=en_US&ref_=as_li_ss_tl" target="_blank">Check out one of my favorite Adirondack trail guides</a>.</p>
<hr>

      {% if page.after-content %}
        <div class="after-content">
          {% for file in page.after-content %}
            {% include {{ file }} %}
          {% endfor %}
        </div>
      {% endif %}

      {% include comments.html %}
    </div>
  </div>
</main>
